 .lead{
text-align: center;

}

.lead__title {

font-family: 'Inter';
font-weight: 900;
font-size: 96px;
line-height: 100px;
text-align: center;
color: #FFFFFF;
}

.lead__subtitle {
font-family: 'Inter';
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
}

.lead__image{
width: 984px;
height: 616px;

} 
